<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑作者</title>
</head>
<body>
<h1>编辑作者</h1>
<form action="/edit_author/?id={{ author_list.id }}" method="post">
    <input type="text" name="edit_author_name" value="{{ author_list.name }}">
    <select name="book_ids" multiple="multiple">
        {% for book in books %}
            {% if book in author_list.books.all %} <!--如果书籍在作者所有书籍对象中，则默认选中-->
                <option selected value="{{ book.id }}">{{ book.title }}</option>
            {% else %}
                <option value="{{ book.id }}">{{ book.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit">
<p>{{ s14|default:'小杨同志' }}</p>
</form>
</body>
</html>